.main3 {
  background: url(../image/footer.png) no-repeat center center fixed;
  background-size: cover;
}
.main3 {
  grid-area: main3;
  grid-column-end: 6;
}
.logoPartners {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 2%;
}
.textPartners > .partners {
  font-family: 'Cuprum', sans-serif;
  text-align: left;
  font-size: 3vw;
  padding: 1%;
}
.logoPartnersMix {
  width: 80%;
  padding-left: 5%;
}
.logoPartners > div > img {
  width: 80%;
  padding-left: 5%;
}
#yandex {
  padding-top: 16%;
}
#bolt {
  padding-top: 15%;
}
#lifepay {
  padding-top: 12%;
}
