.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(minmax(150px, 1fr));
  grid-template-rows: 100px 600px 400px 400px 150px ;
  grid-template-areas: "header" "main1" "main2" "main3" "footer";
}
header {
  grid-area: header;
  grid-column-end: 6;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #50b848;
}
.main1 {
  grid-area: main1;
  grid-column-end: 6;
  background-color: aqua;
}
.main2 {
  background-color: silver;
  grid-area: main2;
  grid-column-end: 6;
}
.main3 {
  background-color: black;
  grid-area: main3;
  grid-column-end: 6;
}
footer {
  background-color: blue;
  grid-area: footer;
  grid-column-end: 6;
}
.navigation {
  width: 100%;
  background-color: #eaff64;
  height: 50px;
  padding-top: 10px;
}
.buttonProperties {
  height: 40px;
  background-color: #eaff64;
  padding-left: 10px;
}
select {
  float: left;
  width: 15%;
  border: 0px;
  cursor: pointer;
  height: 40px;
  background-color: #eaff64;
  padding-left: 10px;
}
option {
  width: 15%;
  height: 40px;
  background-color: #eaff64;
  padding-left: 10px;
}
.menuButton {
  padding-top: 5px;
  font-size: 30px;
  width: 15%px;
  height: 40px;
  background-color: #eaff64;
  border: 1px;
  border-radius: 20px;
  cursor: pointer;
  display: none;
  margin: 10px;
}
.logoPuma {
  position: fixed;
  top: -2%;
  right: 5%;
  width: 15%;
  cursor: pointer;
}
